<form [formGroup]="slackInfoForm" (ngSubmit)="onSubmit(slackInfoForm.value)">

  <div class="slack-info-container">

    <mat-form-field>
      <input matInput placeholder="Channel ID" formControlName="channelId" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Time Stamp" formControlName="ts" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Slack Token" formControlName="token" />
    </mat-form-field>

    <button mat-raised-button type="submit">Retrieve!</button>

  </div>

</form>

<div *ngIf="conversationReplies$ | async as conversationReplies">
  <div *ngFor="let reply of conversationReplies.messages">
    <p>Text: {{ reply.text }}</p>
  </div>
</div>
